button.mat-menu-item{
  display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}
 .mat-menu-item:hover:not([disabled]),
 .mat-menu-item.cdk-program-focused:not([disabled]),
 .mat-menu-item.cdk-keyboard-focused:not([disabled]),
 .mat-menu-item-highlighted:not([disabled]) {
  background: rgb(0, 0, 0) !important;
  color: white;
}
.icon{
  border-radius: 50%;
}
.navbar{
  height: 75px;
  background: var(--black-bg);
  .navbar-brand{
    color: white;
    span{
      font-weight: bold;
    }
  }
}
