

<main>
	<div class='card left'>
		<div class='img-cont'>
	    	<span class='window'><a class="inner" >Dream</a></span>
		    <img class="img" src="https://picsum.photos/id/140/3000/2000" alt="">
		</div>
  	  	<div class='content-cont'>
	  		<span class='card-header'><a >Imagination</a></span>
			<span class='card-body'>Albert Einstein said, "Imagination is more important than knowledge".</span>
	    </div>
	</div>

	<div class="feature-card card">
		<div class='img-cont'>
	    	<span class='window'><a class="inner" >Investigate</a></span>
		    <img class='img' src="https://picsum.photos/id/40/3000/2000" alt="">
		</div>
  	  	<div class='content-cont'>
	  		<span class='card-header'><a >Curiosity</a></span>
			<span class='card-body'>So which cat was it? The demise was a sad one but we all know what curiosity is likely to do.</span>
	    </div>
	</div>

	<div class='card right'>
		<div class='img-cont'>
	    	<span class='window'><a class="inner" >Explore</a></span>
		    <img class='img' src="https://picsum.photos/id/240/3000/2000" alt="">
		</div>
  	  	<div class='content-cont'>
	  		<span class='card-header'><a >Mystery</a></span>
			<span class='card-body'>All life is a mystery. Living is experiencing it.</span>
	    </div>
	</div>
</main>
